server: 
  port: 8201 
spring:
  profiles: dev
  application: 
    name: config-client
eureka: 
  client: 
    service-url: 
      defaultZone: http://localhost:7001/eureka/   

server: 
  port: 8202 
spring:
  profiles: test
  application: 
    name: config-client
eureka: 
  client: 
    service-url: 
      defaultZone: http://localhost:7001/eureka/
